<footer class="bg-black text-white pt-4 pb-3 mt-5">
    <div class="container-fluid text-center text-sm-start">

      <!-- Navigation + Contact -->
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center flex-wrap mb-3 gap-2">
        <div>
          <a href="/privacy.html" class="text-white text-decoration-none small me-3">Overview</a>
          <a href="mailto:bafgreat@gmail.com" class="text-white text-decoration-none small me-3">Contact</a>
          <a href="https://cordis.europa.eu/project/id/101107360" class="text-white text-decoration-none small">MSCA Project</a>
        </div>
        <div id="footerEmail" class="small"></div>
      </div>

      <!-- Main Row: Social, Pub, Dataset -->
      <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-4 flex-wrap mb-3">
        <div id="footerLinks" class="d-flex gap-3 me-3"></div>
        <div id="footerResources" class="small me-3"></div>
        <div id="footerDataset" class="small me-3"></div>
      </div>

      <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-4 flex-wrap mb-3">

      <p id="footerCopyright" class="mb-0 small text-center">© 2025 Dinga Wonanke.</p>

      <p id="footerCopyright" class="mb-0 small text-center">Funded by European Union Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 101107360</p>
      </div>
    </div>
  </footer>
